# Python

[Instalador de windows](https://www.python.org/downloads/windows)


![](./imgs/Python%203.10.2%20installer%20windows.png)


![](./imgs/Python%203.10.2%20installer%20config.png)

![](./imgs/Python%203.10.2%20verification.png)

In [1]:
!python --version

Python 3.10.2

## Sintaxis básica

Imprimir en pantalla

In [2]:
print("Hello World!!")

Hello World!!

Indentación

In [3]:
if 8 > 7:
    print('8 es mayor que 7')
else:
    print(8 > 7)

8 es mayor que 7

Indentación en un archivo .js
```
if (8 > 7) {
    console.log('8 es mayor que 7')
}
```

Comentarios

In [4]:
# Usando # la lines es un comentario
# no es eficiente para varias lineas.

""" Se pueden escribir varias líneas
    usando tres "
    se usan a menudo como documentación.
"""
''' Comillas simples y dobles
    representan lo mismo, salvo casos 
    especiales.
'''
print(f'{"como"} formateando strings')

print("" == '')

como formateando strings
True

## Variables

Creación

In [7]:
d = 10
t = 3.5

h = "hola"
m = "mundo"

V = True
F = False

In [8]:
x = 3
x = 'feo'
print(x)

feo

Obtener el tipo

In [9]:
print(
    type(d),
    type(t),
    type(h),
    type(m),
    type(V),
    type(F),
)

<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'bool'> <class 'bool'>

Nombres válidos

In [11]:
minombre = "Juan"
mi_nombre = "Juan"
miNombre = "Juan"
MINOMBRE = "Juan"
minombre2 = "Juan"

Nombres inválidos

```
2minombre = 'Juan'
mi-nombre = 'Juan'
mi nombre = 'Juan'
```

Variables de varias palabras

In [12]:
miVariable = "Ana" # Camel Case
MiVariable = "Ana" # Pascal Case
mi_variable = "Ana" # Snake Case

Asignación múltiples

In [16]:
pi, pa, pe = "Piña", "Papaya", "Pera"
print(pi)
print(pa)
print(pe)

Piña
Papaya
Pera

Un valor a varias variables

In [19]:
na = y = z = "Naranja"
print(na)
print(y)
print(z)

Naranja
Naranja
Naranja

Desempaquetar una Lista o Colexión

In [15]:
frutas = ["Piña", "Papaya", "Pera", "Naranja"]
pi, pa, pe, na = frutas
print(pi)
print(pa)
print(pe)
print(na)

Piña
Papaya
Platano
Naranja

Impresión de variables

In [21]:
print(pi, pa, pe, na)

Piña Papaya Pera Naranja

In [23]:
print(pi + pa + pe + na)

PiñaPapayaPeraNaranja

In [24]:
print(d + t)

13.5

In [25]:
print(t + na)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [26]:
print(t, na)

3.5 Naranja

In [27]:
print(
    na,'\n',
    pe,'\n',
    pi,'\n',
    pa,'\n',
    x,'\n',
    y,'\n',
    z,'\n',
    d,'\n',
    t,'\n',
    V,'\n',
    F,'\n',
    mi_nombre,'\n',
    frutas
)

Naranja
 Pera
 Piña
 Papaya
 Naranja
 Naranja
 Naranja
 10
 3.5
 True
 False
 Juan
 ['Piña', 'Papaya', 'Platano', 'Naranja']

Variables globales

In [28]:
x = "dia"

def funct():
  x = "noche"
  print("Estamos de " + x)

funct()

print("Estamos de " + x)

Estamos de noche
Estamos de dia

In [30]:
x = "dia"

def funct():
  global x
  x = "noche"
  print("Estamos de " + x)

funct()

print("Estamos de " + x)

Estamos de noche
Estamos de noche

## Tipos de datos

```
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
```

In [35]:
def PRINT(value):
    print(value, ' ', type(value), '\n')

x = "Hola Mundo!!"  # str
x = 20  # int
x = 20.5  # float
x = 1j  # complex
x = True  # bool
x = ["papaya", "pera", "naranja"]  # list
x = ("papaya", "pera", "naranja")  # tuple
x = range(6)  # range
x = {"name": "Pedro", "age": 36}  # dict
x = {"papaya", "pera", "naranja"}  # set
x = frozenset({"papaya", "pera", "naranja"})  # frozenset
x = b"Hola"  # bytes
x = bytearray(5)  # bytearray
x = memoryview(bytes(5))  # memoryview
x = None  # NoneType

In [ ]:
x = str("Hello World")	#str
x = int(20) #int
x = float(20.5) #float
x = complex(1j) #complex
x = list(("manzana", "sandia", "pan")) #list
x = tuple(("manzana", "sandia", "pan")) #tuple
x = range(6) #range
x = dict(name="Jose", age=19) #dict
x = set(("manzana", "sandia", "pan")) #set
x = frozenset(("manzana", "sandia", "pan")) #frozenset
x = bool(5) #bool
x = bytes(5) #bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview

Números

In [4]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [3]:
x = 1
y = 35656222554887711123124567898765
z = -3255522

In [2]:
x = 1.10
y = 1.0
z = -35.59

In [5]:
x = 35e3
y = 12E4
z = -87.7e100

In [6]:
x = 3+5j
y = 5j
z = -5j

Conversiones entre números

In [7]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

# int a float:
a = float(x)

# float a int:
b = int(y)

# int a complex:
c = complex(x)

Conversiones a números

In [8]:
x = int(1)   # 1
y = int(2.8) # 2
z = int("3") # 3

In [9]:
x = float(1)     # 1.0
y = float(2.8)   # 2.8
z = float("3")   # 3.0
w = float("4.2") # 4.2

In [13]:
x = complex(1)     # 1 + 0j
y = complex(2.8)   # 2.8 + 0j
z = complex("10+3j")   # 10 + 3j
w = complex("4.2j") # 4.2j
v = complex(100)     # 100 + 0j

Strings

In [19]:
x = """Se pueden asignar varias líneas
        usando tres " o ' a una variable"""
y = '''Se pueden asignar varias líneas
        usando tres " o ' a una variable'''

Conversiones a strings

In [10]:
x = str("s1") # 's1'
y = str(2)    # '2'
z = str(3.0)  # '3.0'

Strings como listas

In [20]:
print(x[1])

e

In [22]:
for i in x:
    print(i)

S
e

p
u
e
d
e
n

a
s
i
g
n
a
r

v
a
r
i
a
s

l
í
n
e
a
s










u
s
a
n
d
o

t
r
e
s

"

o

'

a

u
n
a

v
a
r
i
a
b
l
e

Longitud de un string

In [23]:
len(x)

72

Pertenencia entre strings

In [28]:
txt = "Esta mañana me levantó el sol en la ventana."
print("el sol" in txt)
print("la lluvia" not in txt)

True
True

Segmetación de strings

In [34]:
print(txt[2:16]) # En un rango de posiciones
print(txt[:26]) # Desde el inicio
print(txt[12:]) # Hasta el final
print(txt[-20:-2]) # indices negativos

ta mañana me l
Esta mañana me levanto el
me levanto el sol en la ventana.
l sol en la ventan

Concatenación de strings

In [46]:
a = "Hola"
b = "Mundo"
c = a + " " + b
print(c)

Hola Mundo

Upper Case

In [36]:
txt = txt.upper()
print(txt)

ESTA MAÑANA ME LEVANTO EL SOL EN LA VENTANA.

Lower Case

In [39]:
txt = "                      "+txt.lower()
print(txt)

                      esta mañana me levanto el sol en la ventana.

Remoción de espacios al inicio del string

In [42]:
txt = txt.strip()
print(txt)

esta mañana me levanto el sol en la ventana.

Reemplazar valores en un string

In [44]:
txt = txt.replace('el sol','la lluvia')
print(txt)

esta mañana me levanto la lluvia en la ventana.

Partir un string

In [45]:
txt_list = txt.split(' ')
print(txt_list)

['esta', 'mañana', 'me', 'levanto', 'la', 'lluvia', 'en', 'la', 'ventana.']

Formateo de strings

In [2]:
edad = 25
txt = "Mi nombre es Juan y tengo " + str(edad) + " años"
print(txt)

Mi nombre es Juan y tengo 25 años

In [3]:
edad = 25
txt = "Mi nombre es Juan y tengo {} años".format(edad)
print(txt)

Mi nombre es Juan y tengo 25 años

In [5]:
nombre='Juan'
edad = 25
txt = f"Mi nombre es {nombre} y tengo {edad} años"
print(txt)

Mi nombre es Juan y tengo 25 años

Caracteres Back Slask (\\)

```
    \'	        Single Quote
    \"	        Single Double Quote
    \\	        Backslash	
    \n	        New Line	
    \r	        Carriage Return	
    \t	        Tab	
    \b	        Backspace		
```

In [12]:
txt ='''Mi nombre es \"Juan\" y tengo años
me gusta \nleer,\n \rjugar y \thacer ejercicio
vivo \bcon 3 animales y 4 familiares'''
print(txt)

Mi nombre es "Juan" y tengo años
me gusta
leer,
jugar y 	hacer ejercicio
vivocon 3 animales y 4 familiares



[Metodos de los Strings](https://www.w3schools.com/python/python_strings_methods.asp)

Booleanos

In [27]:
a = 200
b = 33

if b > a:
  print("b es mayor que a")
else:
  print("b es menor que a")

b es menor que a

Negación

In [28]:
print(not False)
print(not True)

True
False

Conjunción y Disyunción

In [ ]:
print(True and False)
print(False or True)

False
True

Comparaciones de igualdad

In [ ]:
print(0 == False)
print(1 == True)
print(2 == True)
print(-5 != False)

True
True
False
True

In [ ]:
print(1 == 1)
print(2 != 1)

True
True

Referencias a la misma variable

In [ ]:
list1 = [1, 2, 3, 4]
list2 = list1
print(list2 is list1)
print(list2 == list1)

True
True

In [ ]:
list2 = [1, 2, 3, 4]
print(not (list2 is list1))
print(list2 is list1)
print(list2 == list1)

True
False
True

Desigualdades

In [ ]:
print(1 < 10)
print(1 > 10)
print(2 <= 2)
print(2 >= 2)
print(1 < 2 < 3)
print(2 < 3 < 2)

True
False
True
True
True
False

In [ ]:
print(1 < 2 and 2 < 3)
print(2 < 3 and 3 < 2)

True
False

Casos curiosos

In [ ]:
print(True + True)
print(True * 8)
print(False - 5)

2
8
-5

In [ ]:
print(0 and 2)
print(-5 or 0)

0
-5

Interpretación de otross tipos de datos como booleanos

In [20]:
print(bool("Hello"))
print(bool(15))
print(bool(False))
print(bool(None))
print(bool(1))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
True
False
False
True
False
True
False
False

Booleanos en funciones

In [29]:
def miFuncion() :
  return True

if miFuncion():
  print("SI!")
else:
  print("NO!")

SI!

Booleanos en clases

In [26]:
class MiClase():
  def estado(self):
    return 1

myobj = MiClase()
print(bool(myobj.estado()))

True

## Operadores

Operadores aritméticos

In [74]:
x = 10
y = 3.3
print(x + y)  # Suma
print(x - y)  # Resta
print(x * y)  # Multiplicación
print(x / y)  # División
print(x % y)  # Módulo
print(x ** y) # Exponenciación
print(x // y) # Divición Entera

13.3
6.7
33.0
3.0303030303030303
0.10000000000000053
1995.2623149688789
3.0

Operadores de asignación compuesta

In [54]:
x = 10
x += 3	# x = x + 3	
print(x)

13

In [55]:
x = 10
x -= 3	# x = x - 3	
print(x)

7

In [56]:
x = 10
x *= 3	# x = x * 3	
print(x)

30

In [57]:
x = 10
x /= 3	# x = x / 3	
print(x)

3.3333333333333335

In [58]:
x = 10
x %= 3	# x = x % 3	
print(x)

1

In [59]:
x = 10
x //= 3 # x = x // 3	
print(x)

3

In [60]:
x = 10
x **= 3	# x = x ** 3	
print(x)

1000

In [69]:
v = True
v &= False	# v = v & False	
print(v)

False

In [72]:
v = True
v |= False	# v = v | False	
print(v)

True

Operadores de comparación

In [76]:
x = 90
y = 500
print(x == y)	# Igual
print(x != y)	# Diferente
print(x > y)	# Mayor que
print(x < y)	# Menor que
print(x >= y)	# Mayor o igual que 
print(x <= y)   # Menor o igual que

False
True
False
True
False
True

Operadores logicos

In [77]:
x = 9
y = 50
print(x < 5 and  x < 10)        # and
print(x < 5 or x < 4)           # or, |
print(not(x < 5 and x < 10))    # and, &

False
False
True

Operadores de identidad

In [81]:
x = 50
y = 90
print(x is y)       # is
print(x is not y)   # is not

False
True


Operadores de membresía

In [82]:
x = "Mi casita en el pueblito es muy amañadora"
y = "casita"

print(y in x)           # in
print(y not in x)       # not in

True
False

## Condicionales

if

In [83]:
a = 33
b = 200
if b > a:
  print("b es mayor que a")

b es mayor que a

elif

In [84]:
a = 33
b = 33
if b > a:
  print("b es mayor que a")
elif a == b:
  print("a y b son iguales")

a y b son iguales

else

In [85]:
a = 200
b = 33
if b > a:
  print("b es mayor que a")
elif a == b:
  print("a y b son iguales")
else:
  print("a es mayor que b")

a es mayor que b

if en una sola linea

In [89]:
a = 200
b = 330
if b > a: print("b es mayor que a")

b es mayor que a

if else en una sola linea

In [90]:
a = 20
b = 30
print("b es mayor que a") if b > a else  print("a y b son iguales")

b es mayor que a

if multiples en una linea

In [93]:
a = 330
b = 33
print("a es mayor que a") if a > b else print("=") if a == b else print("b es mayor que a")

a es mayor que a

if anidados

In [94]:
x = 41

if x > 10:
  print("x mayor a 10")
  if x > 20:
    print("x mayor a 20")
  else:
    print("x menor o igual a 20")

x mayor a 10
x mayor a 20

Sentencia pass

In [95]:
a = 33
b = 200

if b > a:
  pass

while

In [97]:
i = 0
while i < 6:
  print(i)
  i += 1

0
1
2
3
4
5

Sentencia break

In [103]:
i = 0
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

0
1
2
3

Sentencia continue

In [99]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

while esle

In [102]:
i = 0
while i < 6:
  print(i)
  i += 1
else:
  print("i no es mayor a 6")

0
1
2
3
4
5
i no es mayor a 6

for

Recorrer listas

In [104]:
frutas = ["pera", "piña", "fresa"]
for x in frutas:
  print(x)

pera
piña
fresa

Recorrer strings

In [105]:
for x in "banana":
  print(x)

b
a
n
a
n
a

Función range

In [106]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [107]:
for x in range(2, 6):
  print(x)

2
3
4
5

for else

In [109]:
for x in range(6):
  print(x)
else:
  print("Trabajo terminado")

0
1
2
3
4
5
Trabajo terminado

for anidados

In [111]:
personas = ["juan", "ana", "jose", "caro"]
frutas = ["manzana", "banana", "pera", "papaya"]

for x in personas:
  for y in frutas:
    print(x, "se comió una", y)

juan se comió una manzana
juan se comió una banana
juan se comió una pera
juan se comió una papaya
ana se comió una manzana
ana se comió una banana
ana se comió una pera
ana se comió una papaya
jose se comió una manzana
jose se comió una banana
jose se comió una pera
jose se comió una papaya
caro se comió una manzana
caro se comió una banana
caro se comió una pera
caro se comió una papaya

## Type casting y excepciones

## Funciones y lambdas

## Listas, tuplas, sets, dicsts, etc.

Hello World!!